h1 {
  margin-top:10%;
  text-decoration:line-through;
  text-align:center;
  font-family: "Miniver", cursive;
  margin-top: 7%;
  font-size: 2.5em;
  color: #697798e9;
  text-shadow: 5px 5px 6px#7b8aa1d4;
}
.border{
  line-height:1;
  font-size: 2.3em;
  color: rgb(227, 229, 238);
}
.border_{
  line-height:1;
  font-size: 1.5em;
  margin-block: 10%;
  color: rgb(227, 229, 238);
}
.img1{
  height: 300px;
  width: 180px;
  object-fit:contain;
}
.img2{
  height: 300px;
  width: 180px;
  object-fit:contain;
}
.img3{
  height: 300px;
  width: 180px;
  object-fit:contain;
}
.img4{
  height: 300px;
  width: 180px;
  object-fit:contain;
}


.frame {
  display: grid;
  position:relative;
  min-height: 600px;
  max-width: 400px;
  margin: 4% auto;
  background-color: rgba(131, 138, 154, 0.549);
}
.framePicPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  min-height: 600px;
  max-width: 800px;
  margin: 4% auto;
  background-color: rgba(131, 138, 154, 0.549);
}
.container{
  grid-template-columns: 1fr 1fr;
  column-gap:1.5em;
  display: grid;
  place-items: center;
  height: auto;
}
.card {
  margin:center;
}

.arraw {
  color: rgba(240, 248, 255, 0.788);
  max-height: 1.3em;
  max-width: 2em;
  line-height: 1;
  font-size: 3em;
  background-color: rgba(167, 183, 211, 0.873);
  border: 3px solid rgba(211, 217, 230, 0.942);
  border-radius: 12px;
}
.button-row {
  display: flex;
  position:absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
}
.button-row button:first-child {
  justify-self: left;
}
.button-row button:last-child {
  justify-self: right;
}


body {
  background-image: url("background_hzc.jpg");
  background-size:cover;
  backgroun-position:center;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
