h1 {
  text-decoration:line-through;
  text-align:center;
  font-family: "Lavishly Yours", cursive;
  margin-top: 7%;
  font-size: 2.5em;
}

.img {
  height: 300px;
  width: 180px;
}


.frame {
  display: grid;
  min-height: 600px;
  max-width: 400px;
  margin: 4% auto;
  background-color: rgba(131, 138, 154, 0.549);
}
.framePicPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  min-height: 600px;
  max-width: 800px;
  margin: 4% auto;
  background-color: rgba(131, 138, 154, 0.549);
}
.container{
  grid-template-columns: 1fr 1fr;
  display: grid;
  place-items: center;
  height: auto;
}
.card {
  margin:center;
  background-color:white;
}

.arraw {
  color: rgba(240, 248, 255, 0.788);
  max-height: 1em;
  max-width: 2em;
  line-height: 0.6;
  font-size: 3em;
  background-color: rgba(167, 183, 211, 0.873);
  border: 3px solid rgba(211, 217, 230, 0.942);
  border-radius: 12px;
  margin-bottom: -15%;
}
.button-row {
  display: flex;
  position:absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  padding-bottom:2em;
}
.button-row button:first-child {
  justify-self: left;
}
.button-row button:last-child {
  justify-self: right;
}


body {
  background-image: url("background_hzc.jpg");
  background-size:cover;
  backgroun-position:center;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
